@import url('https://fonts.googleapis.com/css2?family=Meie+Script&display=swap');

nav {
    background-color: #A85B21;
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-left: 30%;
    border-radius: 5px;
    margin-top: 3%;
    margin-bottom: 4%;
    border: 3px white solid
}

  
nav a {
    display: inline-block;
    margin: 1rem 2rem;
    text-decoration: none;
    font-size: 1.2em;
    color: white;
    transition: 0.1s;
}
  
nav a:hover,
nav a:active {
    color: tomato;
}
  
nav a.active {
    border-bottom: 2px solid #700000;
    color: white(14, 8, 8);
}

#bag-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.current-bag-view {
    width: 369px;
    border: 3px solid white;
    border-radius: 5px;
    margin-left: 30%;
    margin-top: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 4px 4px 0px rgb(0,0,0,0.2);
    background-color: #A85B21;
}


#item-row {
    padding-right: 150px;
}

hr {
    width: 300px;
    margin-top: auto;
    margin-bottom: 15px;
}

tbody tr td {
    padding-bottom: 10px;
}

.add-item-form {
    padding-bottom: 15px;
}


.add-item-form > input {
    margin-right: 59px;
    height: 21px;
    border: 2px solid #700000;
    text-align: center;
    
}

.add-item-form > input:focus {
    outline: none;
}

body {
    background-color: #700000;
    color: white;
}

button {
    background-color: #700000;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

#remove-row {
    padding-left: 15px;
}

.current-bag-body tr td:last-child {
    padding-left: 30px;
}

.current-bag-body tr td input {
    margin-left: 15px
}


/* Wes CSS for Header, Welcome, Sign Up */

#appHeader {
    text-align: center;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 3px;
    border-bottom: 3px solid #A85B21;
}

#appHeader p{
    font-family: 'Meie Script', cursive;
    font-size: 150%
}

#welcomePage {
    padding-top: 10px;
    text-align: center;
    margin: auto;
}

#loginPage {
    text-align: center;
    margin: auto;
}

.welcomebuttons {
    background-color: #A85B21;
    margin: 5px
}

#getPacking {
    text-align: center;
    margin: auto;
    padding-top: 30px;
}

#addBags {
    text-align: center;
    margin: auto;
}

@font-face {
    font-family: 'FenwayRegular';
  src: local('FenwayRegular'), url(./Fenway-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'FenwaySans';
  src: local('FenwaySans'), url(./Fenway-Sans.ttf) format('truetype');
}

@font-face {
    font-family: 'FenwayVintage';
  src: local('FenwayVintage'), url(./Fenway-Vintage.ttf) format('truetype');
}
