nav {
    background-color: cornsilk;
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-left: 30%;
    border-radius: 5px;
    margin-top: 3%;
    margin-bottom: 4%;
}

  
nav a {
    display: inline-block;
    margin: 1rem 2rem;
    text-decoration: none;
    font-size: 1.2em;
    color: firebrick;
    transition: 0.1s;
}
  
nav a:hover,
nav a:active {
    color: tomato;
}
  
nav a.active {
    border-bottom: 2px solid tomato;
    color: rgb(14, 8, 8);
}

#bag-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.current-bag-view {
    width: 369px;
    border: 1px solid firebrick;
    border-radius: 5px;
    margin-left: 30%;
    margin-top: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#item-row {
    padding-right: 150px;
    padding-bottom: 15px;
}

hr {
    width: 300px;
    margin-top: auto;
    margin-bottom: 15px;
}

tbody tr td {
    padding-bottom: 10px;
}

.add-item-form {
    padding-bottom: 15px;
}

/* Wes CSS for Header, Welcome, Sign Up */

#appHeader {
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
    border-bottom: 3px solid black;
}

#welcomePage {
    text-align: center;
    margin: auto;
}

#loginPage {
    text-align: center;
    margin: auto;
}

